* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url('./assets/cold.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.5 ease-out;
}

.App.warm {
  background-image: url('./assets/hot.png');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  padding: 30px;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-top: -30px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.3);
  font-size: 25px;
  color: black;
  transition: 0.5s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}


